<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./tests/bootstrap.php"
         backupStaticAttributes="false"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true">

    <php>
        <server name="API_CONFIG_FILE" value="harvest_api_config.json" />
    </php>

    <testsuites>
        <testsuite name="hAPI Test Suite">
            <directory>./tests/Harvest/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <blacklist>
            <directory suffix=".php">./vendor</directory>
        </blacklist>
    </filter>

</phpunit>
